body {
	margin: 1em;
}

iframe {
	border: solid 1px black;
}

ol#players {
	position: relative;
}

ol#players li {
	list-style-type: decimal;
	margin-left: -5px;
}

ol#players li .visits {
	position: absolute;
	right: 0;
}
}
