<html>
<head>
    <title>wikiracer threw up!</title>

    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="row-fluid">
    <div class="span9">
        <h2 id="pageTitle">I'm sorry but I think there's something wrong.</h4>

        <p>{{.UnderstandableErrorMessage}}</p>

        <p>Technical stuff:</p>

        <pre>{{.ErrorMessage}}</pre>

        <p>If I'd know how to fix it, I would!</p>
    </div>
</div>

</body>
</html>

