<html>
<head>
    <title>wikiracer!</title>

    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/game.css" rel="stylesheet" type="text/css">

</head>
<body>

<!-- Give up modal -->
<div class="modal fade" id="giveUpModal" tabindex="-1" role="dialog" aria-labelledby="giveUpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="giveUpLabel">It's not to late yet!</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to give up just now?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- temporary win modal -->
<div class="modal fade" id="temporaryWinModal" tabindex="-1" role="dialog" aria-labelledby="temporaryWinLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="temporaryWinLabel"><span id="player">Nelix</span> reached the goal!</h4>
      </div>
	  <div class="modal-body">
		  <span id="isWinner">
			  Now you just have to wait until the others are finished and
			  hope that nobody finds a shorter path than you did!
		  </span>
		  <span id="isOther">It's not too late yet, you can still win if you reach the goal in
			  less steps than <span id="numSteps">2.1718</span>!
		  </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I try</button>
      </div>
    </div>
  </div>
</div>

<!-- actual win modal -->
<div class="modal fade" id="actualWinModal" tabindex="-1" role="dialog" aria-labelledby="actualWinLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="actualWinLabel"><span id="player">Nelix</span> won the internet!</h4>
      </div>
      <div class="modal-body">
		  <span id="isWinner">
			  You did it! You've completed the run in
			  <span id="numSteps">2.1718</span> steps and won the game!
		  </span>
		  <span id="isOther">
			  <span id="player"></span> reached the goal in
			  <span id="numSteps">2.1718</span> steps and nobody can beat that
			  anymore. The game is over!
		  </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="page-header">
  <h1>wikiracer! <small>by nemo and krizz</small></h1>
</div>

{{/* JavaScrit HTML templates  */}}
<div id="templates" style="display: none;">
	{{define "winner_badge"}}
		<span title="Winner!" class="winflag winner badge badge-important">⚑</span>
	{{end}}

	{{define "temporary_winner_badge"}}
		<span title="Winner for now! Go for it!" class="winflag temporary-winner badge badge-warning">⚑</span>
	{{end}}

	{{template "temporary_winner_badge"}}
	{{template "winner_badge"}}
</div>

<div class="row-fluid">
    <div class="span9">
        <h4 id="pageTitle">{{format_wikiurl .Player.LastVisited}}</h4>
        <!-- http://stackoverflow.com/a/9880360/1643939 -->
        <iframe sandbox="allow-forms allow-scripts" name="gameFrame" width="100%" height="80%" src="{{.WikiURL}}"></iframe>
    </div>
    <div class="span3" id="sidebar">
        <h4>Summary of goal page</h4>
        <p>{{.Summary}}</p>

        <hr />

        <b>Start:</b><br />
        {{format_wikiurl .Game.Start}}<br /><br />
        <b>Goal:</b><br />
		{{format_wikiurl .Game.Goal}}<br /><br />

        <b>Players:</b><br />
		<ol id="players">
			{{with $data := .}}{{range $index, $player := .Game.SortedPlayers}}
				{{if eq $data.Player.Name .Name}}
				<li data-player="{{.Name}}">{{.Name}} (you)
				{{else}}
				<li data-player="{{.Name}}">{{.Name}}
				{{end}}

				{{with $isTempWinner := is_temporary_winner $data.Game $player}}
					{{with $isWinner := is_winner $data.Game $player}}
						{{template "winner_badge"}}
					{{else}}
						{{template "temporary_winner_badge"}}
					{{end}}
				{{else}}
					{{if $player.LeftGame}}
						<span title="Left game." class="winflag badge">❌</span>
					{{end}}
				{{end}}

				{{if eq $index 0}}
				<span class="badge badge-success visits">{{len .Path}}</span>
				{{else}}
				<span class="badge visits">{{len .Path}}</span>
				{{end}}
				</li>
			{{end}}{{end}}
        </ol>

        <hr />
        <b>Log</b>
        <ol id="log">
        </ol>

		<hr />

		<button class="btn btn-danger" data-toggle="modal" data-target="#giveUpModal">
			Give up!
		</button>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="../js/wiki.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>

